@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-color: rgb(35, 103, 130);
    --primary-color-darker: rgb(19, 62, 79);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px; 
    border-radius: 10px;
}